# Python cache
__pycache__/
*.py[cod]
*.pyo

# 가상환경 (너네 구조 기준)
envs/
.venv/
venv/

# 환경변수
.env
.env.*

# Git
.git
.gitignore

# 로그
*.log

# OS
.DS_Store

# 테스트 / 캐시
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# Node (혹시 프론트 같이 쓰면)
node_modules/

# Docker 관련 (선택)
docker-compose.yml
docker-compose.prod.yml

# 기타
*.sqlite3