# Django
# Django 설정관련 파일로서 환경변수에 관리하게끔 설정
SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=True

# PostgreSQL 설정
# 여러분들의 DB로 바꿔서 올리셔야 합니다.
POSTGRES_DB=template_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
