{% extends "admin/change_list.html" %}

{% block search %}
    <form method="get" id="changelist-search">
        <div style="display:flex; gap:8px; align-items:center;">
            {% for key, value in request.GET.items %}
                {% if key != "q" and key != "filter_type" and key != "e" %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endif %}
            {% endfor %}

            <select name="filter_type">
                <option value="" {% if not post_filter_type %}selected{% endif %}>전체</option>
                <option value="post_id" {% if post_filter_type == "post_id" %}selected{% endif %}>게시글 ID</option>
                <option value="user_id" {% if post_filter_type == "user_id" %}selected{% endif %}>유저 ID</option>
            </select>

            <input type="text" name="q" value="{{ request.GET.q|default:'' }}" placeholder="검색어 입력">
            <button type="submit">검색</button>
        </div>
    </form>
{% endblock %}